---
import Reproductor from '../components/Reproductor.tsx';
import Layout from '../layouts/Layout.astro';
import TarjetaCanciones from '../components/TarjetaCanciones';
import axios from 'axios';
import type {Songs} from '../types/song.ts'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const listaCanciones = await axios.get('https://api.institutoalfa.org/api/songs')
---

<Layout>
	<div class="main">
		<div class="listaCanciones">
			<h1>Lista de Canciones</h1>
			{
				listaCanciones.data.songs.map(function(Canciones: Songs) {
					return (
						<TarjetaCanciones song={Canciones} client:visible/>
					)	
				})
			}
		</div>
		<div class="reproductor">
			<Reproductor/>
		</div>
	</div>
</Layout>

<style>
	h1 {
        color: white;
        font-size: 1.5em;
        font-weight: 500;
		padding-left: 12px;
    }
	div.main {
		display: flex;
		align-items: center;
		
	}
	div.listaCanciones{
		display: flex;
		flex-direction: column;
		gap: 12px;
		width: 40vw;
		height: 90vh;
        background-color: #1b1e21;
        border-right:solid 2px #1f2227;
		padding: 6px;
		overflow-y: scroll;
		scrollbar-color: rgb(165, 165, 165) transparent ;
	}
	div.reproductor {
		width: 60vw;
		height: 90vh;
		background-color: #17191d;
	}
</style>