---
import Reproductor from '../components/Reproductor.tsx';
import Layout from '../layouts/Layout.astro';
import TarjetaCanciones from '../components/TarjetaCanciones';
import axios from 'axios';
import type {Songs} from '../types/song.ts'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const listaCanciones = await axios.get('https://api.institutoalfa.org/api/songs')
---

<Layout>
	<div class="main">
		<div class="listaCanciones">
			<h2>Lista de Canciones</h2>
			{
				listaCanciones.data.songs.map(function(Canciones: Songs) {
					return (
						<TarjetaCanciones song={Canciones} client:visible/>
					)	
				})
			}
		</div>
		<Reproductor client:visible/>
	</div>
</Layout>

<style>
	h2 {
		font-size: 2em;
        font-weight: 500;
		padding: 12px 6px;
        color: rgb(255, 255, 255);
    }
	div.main {
		display: flex;
		align-items: center;	
		
	}
	@media (max-width: 720px) {
		div.main {
			display: flex;
			flex-direction: column-reverse; 
			align-items: stretch;
			justify-content: stretch;
			padding-top: 32px;
		}
	}
	div.listaCanciones{
		display: flex;
		flex-direction: column;
		gap: 12px;
		flex-basis: 600px;
		height: 90vh;
        background-color: #1b1e21;
        border-right:solid 2px #1f2227;
		padding: 6px;
		overflow-y: auto;
		scrollbar-color: rgb(165, 165, 165) transparent ;
	}
	