.Tarjeta {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 8px;
    border: groove 2px rgb(61, 61, 61);
    padding: 6px;
}
.Cancion {
    display: flex;
    gap: 8px;
    flex-grow: 1;
}
h1 {
    font-size: 1em;
    font-weight: 500;
    color: white;
}
p {
    font-size: 0.8em;
    color: rgb(172, 172, 172);
}
img {
    width: 64px;
    height: 64px;
    border-radius: 60px;
}
button {
    font-size: 1em;
    font-weight: 600;
    background-color: blue;
    color: white;
    border: transparent 2px;
    border-radius: 30px;
    padding: 16px;
    transition: all 0.3s ease;
}

    .botonplay:hover {
        opacity: 0.6;
    }

    .botonplay:active {
        transform: scale(0.9);
    }