---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Reproductor de musica</title>
		<meta property="og:title" content="Reproductor de musica" />
		<meta property="og:type" content="image/jpeg" />
		<meta property="og:url" content=" " />
		<meta property="og:image" content="https://ia.media-imdb.com/musica.jpg" />
	</head>
	<body>
		<Navbar/>
		
			<slot />
		<Footer/>
			
	</body>
</html>
